{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Экосистема</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row justify-content-start">
            <div class="col-md-2 justify-content-start">
                {{ form_row(form.size) }}
            </div>
            <div class="col-md-2 justify-content-start">
                {{ form_row(form.time) }}
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-md-3 justify-content-start">
                {{ form_row(form.csv) }}
            </div>
            <div class="col-md-3 justify-content-start">
                {{ form_row(form.status) }}
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-auto">
                {{ form_row(form.start, {'attr': {'class': 'btn btn-outline-success btn-sm btn-block'}}) }}
            </div>
            <div class="col-auto">
                {{ form_row(form.continue, {'attr': {'class': 'btn btn-outline-success btn-sm btn-block'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="btn btn-outline-success btn-sm btn-block" href="{{ path('logout') }}">Выход</a>
            </div>
        </div>
        <div class="row showLogs">
            <label for="textarea-logs"></label>
            <textarea id="textarea-logs" rows="20" cols="70" readonly="readonly" style="resize: none">{{ textarea }}</textarea>
        </div>
    </div>
{% endblock %}